*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: solid 1px red;
}

body{
    background-color: #ef3e3e;
    color:white;
    font-family: sans-serif;
}

.app{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: green;
}

.pokemon-card{
    background:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.pokemon-image{
    width: 15%;
    height: auto;
}