*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #ef3e3e;
    color:white;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: green;
}